---
import SunMoon from "./icons/SunMoon.astro";
import Github from "./icons/Github.astro";
import { githubLink, pageTitle } from "../configs";
---

<div class="navbar w-full">
  <div class="navbar-start">
    <SunMoon />
  </div>
  <div class="navbar-center text-xl font-bold"><a href="/">{pageTitle}</a></div>
  <div class="navbar-end">
    <a
      aria-label="Github"
      href={githubLink}
      target="_blank"
      rel="noopener noreferrer"
      class="btn btn-ghost drawer-button btn-square normal-case"
    >
      <Github />
    </a>
  </div>
</div>
